@import '../../../../../assets/styles/variables/colors';
@import '../../../../../assets/styles/variables/typography';

.navbar {
    align-items: center;
    display: flex;
    background-color: $primary-color;
    color: $tertiary-color;
    height: 60px;
    padding: 0 5vh;
    position: fixed;
    width: 100vw;
    z-index: 1000;

    .navbar-item {
        color: $tertiary-color;
        font-family: $primary-font;
        margin-right: 25px;
        transition: color 0.5s ease-in;

        &.highlighted {
            border-bottom: 2px solid $accent-color;

            &:hover {
                color: $tertiary-color !important;
            }
        }

        &:hover {
            color: $accent-color !important;
            cursor: pointer;
            transition: color 0.5s ease-in;
        }

        &:first-child {
            color: $accent-color;
        }
    }
}
