/*  --------------------
    Colors
    -------------------- */
$primary-color: #06479e;

$secondary-color: #474747;
$secondary-color_2: #000;

$tertiary-color: #F8F8F8;

$accent-color: #02eaf3;

$muted-color: #777777;
