@import '../../../../../assets/styles/variables/colors';
@import '../../../../../assets/styles/variables/typography';

.footer {
    display: flex;
    background: $tertiary-color;
    padding: 2vh 5vh 5vh;
    flex-shrink: 0;
    justify-content: space-between;

    a {
        color: $muted-color;
        font-family: $primary-font;
        margin-right: 30px;

        &:hover {
            color: $primary-color;
        }
    }
    div {
        color: $muted-color;
        font-family: $primary-font;
    }
}
