<div class="footer">
    <div>
        <a href="mailto:me@sahilbabbar.com?subject=Hello, Sahil" target="_top">
            Email
        </a>
        <a href="https://twitter.com/sahilbabbar__" target="_blank">
            Twitter
        </a>
        <a href="https://www.instagram.com/sahilbabbarrr/" target="_blank">
            Instagram
        </a>
        <a href="https://www.linkedin.com/in/1sahilbabbar/" target="_blank">
            LinkedIn
        </a>
        <a href="https://github.com/sahilbabbar" target="_blank">
            GitHub
        </a>
    </div>
    <div>
        &copy; 2020, Sahil Babbar. (v2.0-beta)
    </div>
</div>
