<footer>
    <div class="flex align_center">
        <a href="mailto:me@sahilbabbar.com?subject=Hello, Sahil" target="_top">
            <img src="assets/icons/email.svg" width="25">
        </a>
        <a href="https://twitter.com/sahilbabbar__" target="_blank">
            <img src="assets/icons/twitter.svg" width="25">
        </a>
        <a href="https://www.instagram.com/sahilbabbarrr/" target="_blank">
            <img src="assets/icons/instagram.svg" width="25">
        </a>
        <a href="https://www.linkedin.com/in/1sahilbabbar/" target="_blank">
            <img src="assets/icons/linkedin.svg" width="25">
        </a>
        <a href="https://github.com/sahilbabbar" target="_blank">
            <img src="assets/icons/github.svg" width="25">
        </a>
    </div>
    <div>
        <p>
            &copy; 2021, Sahil Babbar. (v2.0.1)
        </p>
    </div>
</footer>
