<section class="sb-page">
    <section class="sb-flex-row" style="gap: 50px;margin-bottom: 100px;">
        <section>
            <h1>About</h1>
            <p>
                Sahil Babbar was introduced to computers at an early age, from playing PC games to testing
                his mom's GUI-based softwares, figuring out his father's palm top, to playing with film roll cameras and so on.
                So it was a natural learning process and impact of the upbringing that influenced his thought process.
            </p>
            <p style="margin-top: 10px;">
                As he graduated from high-school, he got introduced to CSS frameworks using which he created his school's website and from there
                his affinity towards user-interface design and development ignited.
            </p>
            <p style="margin-top: 10px;">
                His under-graduation introduced him to a plethora of fields in computer science and he struck a chord with
                Software engineering, DevOps, Security, Philosophy, UX Design and Entrepreneurship. This was the influence of an
                exceptional educational incubation and company of brilliant individuals.
            </p>
            <p style="margin-top: 10px;">
                Today he works at the cross-section of frontend development, UX design, software architecture and product design;
                in the enterprise software research and development domain. He likes to craft products that impact lives positively.
            </p>
        </section>
        <section style="display: flex; flex-direction: column;">
            <img src="images/about-3.png" class="sb-img-default" alt="Profile Picture" />
            <button class="primary-outline" style="margin-top: 20px;">Download CV</button>
        </section>
    </section>
    <section style="margin-bottom: 100px; width: 100%;">
        <p class="quote" style="text-align: center;">
            "Those are the fortunate ones, whose work & passion coincide."
        </p>
    </section>
    <section class="sb-img-strip" style="margin-bottom: 100px;">
        <img src="images/about-2.png" class="sb-img" />
        <img src="images/about-4.png" class="sb-img" />
        <img src="images/about-5.png" class="sb-img" />
    </section>
    <section>
        <h3>Work Experience</h3>
    </section>
    <section style="margin-bottom: 100px;">
        <h3>Reach Out</h3>
        <p>
            Drop me an email at
            <a href="mailto:me@sahilbabbar.com">{{ 'me@sahilbabbar.com' }}</a>
            if you want instant attention, or else connect via
            <a href="https://linkedin.com/in/sahilbabbarrr" target="_blank"
            >LinkedIn</a
            >.
        </p>
    </section>
</section>
