<div layout-wrap layout-padding style="margin-top: 5%;text-align: center;">
    <div>
        <img src="inert/img/img-1.jpeg" width="170" style="border-radius: 10%;"/>
        <div>
            <h2 style="font-weight: 400;margin-bottom: 0;">Sahil Babbar</h2>
            <p>
                Undergraduate, IIIT-Delhi<br />
                Technical Lead, SSS
            </p>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <div>
            <a href="mailto:me@sahilbabbar.com" style="margin-right: 10px;"><img src="inert/icons/icon-1.png"/></a>
            <a href="https://www.linkedin.com/in/1sahilbabbar/" style="margin-right: 10px;"><img src="inert/icons/icon-2.png"/></a>
            <a href="https://twitter.com/Sahil_Babbar_" style="margin-right: 10px;"><img src="inert/icons/icon-3.png"/></a>
            <a href="https://www.instagram.com/sahilbabbar__/" style="margin-right: 10px;"><img src="inert/icons/icon-4.png"/></a>
            <a href="https://www.facebook.com/1sahilbabbar" style="margin-right: 10px;"><img src="inert/icons/icon-5.png"/></a>
            <a href="https://github.com/sahilbabbar" style="margin-right: 10px;"><img src="inert/icons/icon-6.png"/></a>
            <a href="https://stackoverflow.com/users/3676745/sahil-babbar" style="margin-right: 10px;"><img src="inert/icons/icon-7.png"/></a>
            <a href="https://www.researchgate.net/profile/Sahil_Babbar" style="margin-right: 10px;"><img src="inert/icons/icon-8.png"/></a>
        </div>
    </div>
    <p>Building useful things with technology, hustling at multiple projects, teams, areas, places and believing by doing.</p>
</div>
