<md-content class="md-padding" layout="column">
    <h3 class="md-display-1" style="text-align: center;font-weight: 200;">Projects</h3>
    <md-subheader class="md-no-sticky" style="margin-top: 1%;">Software Development</md-subheader>
    <div layout="column" layout-gt-sm="row">
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4 meMrgT5">AccountsRoll</h3>
                <p>
                    The most user-friendly enterprise software for managing accounts and inventory at one place, built for web, desktop and mobile.
                </p>
            </md-card-content>
            <!-- <md-card-actions layout="row" layout-align="center center" layout-align-gt-sm="end center">
                <md-button class="md-primary" ui-sref="projects">Read</md-button>
            </md-card-actions> -->
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4 meMrgT5">ClickTown</h3>
                <p>
                    Hyper-local mobile platform for your town. Bridging the gap between consumers and providers.
                </p>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4 meMrgT5">NGVS</h3>
                <p>
                    Next Generation Voucher Server, an internal Ericsson software serving telecom companies. Built the complete user interface, from ground-up.
                </p>
            </md-card-content>
        </md-card>
    </div>
    <div layout="column" layout-gt-sm="row">
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4 meMrgT5">Stencil</h3>
                <p>
                    eCommerce software built for small and medium scale businesses to covering three personas - buyer, dealer and administrator.
                </p>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4 meMrgT5">Clue</h3>
                <p>
                    From website designing to deployment, Clue makes every step just a matter of few clicks, with the help of user-friendly and fully featured user console.
                </p>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4 meMrgT5">JMS</h3>
                <p>
                    Managing everything from team members and tasks to clients and invoices, Job Management System provides a single platform to micro-manage an organisation.
                </p>
            </md-card-content>
        </md-card>
    </div>
    <md-subheader class="md-no-sticky" style="margin-top: 1%;">UX</md-subheader>
    <div layout="column" layout-gt-sm="row">
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4 meMrgT5">JustDonate</h3>
                Making blood donation, organising blood donation camps and thus saving lives, as easy as a click.
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4 meMrgT5">SBI Lab Website</h3>
                <p>
                    Website for Signal processing and Bio-medical Imaging Lab at IIIT-Delhi.
                </p>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4 meMrgT5">Tribute</h3>
                <p>
                    Website for my high school, because few of my classmates didn"t like the old one's design. So, we decided to pay a small tribute to our school.
                </p>
            </md-card-content>
        </md-card>
    </div>
    <md-subheader class="md-no-sticky" style="margin-top: 1%;">Open Source</md-subheader>
    <div layout="column" layout-gt-sm="row">
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4 meMrgT5">eStore</h3>
                <p>
                    Simple eCommerce application built on AngularJS, Bootstrap-Material, Node.js, MySQL and REST APIs.
                </p>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4 meMrgT5">ShiftHome</h3>
                <p>
                    Learn more about your new address before shifting. An AJAX app for knowing about a range of aspects of any place like pollution level, recent happenings, just from the location.
                </p>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4 meMrgT5">Dash</h3>
                <p>
                    Single place to manage timesheets, todos, reminders, expenses, notes and more, sufficient for most teams.
                </p>
            </md-card-content>
        </md-card>
    </div>
    <md-subheader class="md-no-sticky" style="margin-top: 1%;">Internet of Things</md-subheader>
    <div layout="column" layout-gt-sm="row">
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4 meMrgT5">Project Wand</h3>
                <p>
                    Hand-held generic controller for Android phone games and applications with easy to use micro-controller APIs.
                </p>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4 meMrgT5">HydroFlux</h3>
                <p>
                    Everyone's water management system that allows to control and schedule any overhead water tank from a super-friendly mobile app.
                </p>
            </md-card-content>
        </md-card>
        <div flex></div>
    </div>
    <md-subheader class="md-no-sticky" style="margin-top: 1%;">Security</md-subheader>
    <div layout="column" layout-gt-sm="row">
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4 meMrgT5">Attacks on RFID Technology</h3>
                <p>
                    A technical report which touches upon the basics of RFID along with aspects of security and privacy vulnerabilities and the design, architecture and cryptology of the technology used by almost every corporate, government and institution.
                </p>
            </md-card-content>
        </md-card>
        <div flex></div>
        <div flex></div>
    </div>
</md-content>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-103098750-1', 'auto');
  ga('send', 'pageview');
</script>
