<md-content class="md-padding" layout="column">
    <h3 class="md-display-1" style="text-align: center;font-weight: 200;">Projects</h3>
    <md-subheader class="md-no-sticky" style="margin-top: 1%;">Software Development</md-subheader>
    <div layout="column" layout-gt-sm="row">
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4">AccountsRoll</h3>

            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4">ClickTown</h3>

            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4">NGVS</h3>

            </md-card-content>
        </md-card>
    </div>
    <div layout="column" layout-gt-sm="row">
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4">Stencil</h3>

            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4">Clue</h3>

            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4">JMS</h3>

            </md-card-content>
        </md-card>
    </div>
    <md-subheader class="md-no-sticky" style="margin-top: 1%;">UX</md-subheader>
    <div layout="column" layout-gt-sm="row">
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4">JustDonate</h3>

            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4">SBI Lab Website</h3>

            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4">Tribute</h3>

            </md-card-content>
        </md-card>
    </div>
    <md-subheader class="md-no-sticky" style="margin-top: 1%;">Open Source</md-subheader>
    <div layout="column" layout-gt-sm="row">
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4">eStore</h3>

            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4">ShiftHome</h3>

            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4">Dash</h3>

            </md-card-content>
        </md-card>
    </div>
    <md-subheader class="md-no-sticky" style="margin-top: 1%;">Security</md-subheader>
    <div layout="column" layout-gt-sm="row">
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4">Attacks on RFID Technology</h3>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4">TACS</h3>

            </md-card-content>
        </md-card>
    </div>
    <md-subheader class="md-no-sticky" style="margin-top: 1%;">Internet of Things</md-subheader>
    <div layout="column" layout-gt-sm="row">
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4">Project Wand</h3>

            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h3 class="meFtWt4">HydroFlux</h3>

            </md-card-content>
        </md-card>
    </div>
</md-content>
