<sb-navbar [items]="projectsNavItems"></sb-navbar>

<div class="container">
    <h2>Projects</h2>
    <div class="row">
        <div class="col_75">
            <p class="margin-bottom_10">
                Everyone wants to build useful things, either for h(er)imself or
                for the company s(he) work for, or for a larger group of people,
                with different variables; but the motivation is to bring about a
                positive affect. Considering this, I have tried to built some
                cool and useful things in the past and following is their
                description.
            </p>
            <div class="flex_col">
                <div class="section_projects">
                    <div
                        *ngFor="let d of projects.data"
                        class="margin-bottom_8"
                    >
                        <h5 class="color_primary">
                            {{ d.title
                            }}<span class="color_sec" *ngIf="d.institution"
                                >, {{ d.institution }}</span
                            >
                        </h5>
                        <h5 class="margin-bottom_5px">
                            {{ d.startDate | titlecase }} -
                            {{ d.endDate | titlecase }}
                        </h5>
                        <p>
                            {{ d.body.description }}
                        </p>
                        <ul *ngFor="let b of d.body.bullets">
                            <li>
                                {{ b }}
                            </li>
                        </ul>
                        <div class="btn_group" *ngIf="d.body.sourceCodeUrl">
                            <a href="{{d.body.sourceCodeUrl}}" class="btn" target="_blank">
                                <i class="material-icons">code</i>Source Code
                            </a>
                            <a href="{{d.body.appUrl}}" class="btn" target="_blank">
                                <i class="material-icons">launch</i>Go To App</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col_25"></div>
    </div>
</div>
<sb-footer></sb-footer>
