<div class="container_post_preview">
    <h3>Migrating Enterprise Angular App To Another Design System</h3>
    <div class="hashtags">
        <div>Design Systems&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Angular&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SCSS</div>
    </div>
    <p>
        Large enterprise software organisations(> 100,000 employees) have a set of defined guidelines and frameworks to build software products and services, that make their software development process stable, manageable and predictable.
    </p>
</div>
