<div class="container_home">
    <div class="section_dev">
        <div class="dev_name">
            <h1><label>Hi, I'm</label> Sahil Babbar</h1>
        </div>
        <div class="dev_shortBio">
            <p class="description_focus">
                Hyper Obsessed with Technology & Life, especially Frontend/UI, UX. This is my Web Space.
            </p>
        </div>
    </div>
    <sb-navbar [items]="homeNavItems"></sb-navbar>
    <div class="section_home">
        <h2>Writings</h2>
        <div class="post_previews">
            <sb-post-preview routerLink="/blog/MigratingEnterpriseAngularAppToAnotherDesignSystem"></sb-post-preview>
        </div>
    </div>
</div>
<!--<h1>Heading 1</h1>-->
<!--<h2>Heading 2</h2>-->
<!--<h3>Heading 3</h3>-->
<!--<h4>Heading 4</h4>-->
<!--<h5>Heading 5</h5>-->
<!--<h6>Heading 6</h6>-->
<sb-footer></sb-footer>
