<div class="container_home">
    <div class="boxShadow_banner">
        <div class="section_dev">
            <div class="dev_name">
                <h1><label>Hey, I'm</label> Sahil Babbar</h1>
            </div>
            <div class="dev_shortBio">
                <p class="description_focus">
                    Hyper Obsessed with Technology & Life, especially Frontend/UI, UX. This is my Web Space.
                </p>
            </div>
        </div>
        <sb-navbar [items]="homeNavItems" [cssStyle]="'color: #fff'" [navStyle]="{'position': 'unset', 'width': 'unset'}"></sb-navbar>
    </div>
    <div class="section_home">
        <h3>Writings</h3>
        <div class="post_previews">
            <sb-post-preview routerLink="/blog/MigratingEnterpriseAngularAppToAnotherDesignSystem"></sb-post-preview>
        </div>
    </div>
</div>
<sb-footer></sb-footer>
