<div class="container_home">
    <div class="section_dev">
        <div class="dev_name">
            <h1><label>Hi, I'm</label> Sahil Babbar</h1>
        </div>
        <div class="dev_shortBio">
            <p class="description_focus">
                Hyper Obsessed with Technology & Life, especially Software, Frontend/UI, UX.
            </p>
        </div>
    </div>
    <div class="section_home">
        <h2>Writings</h2>
        <div class="post_previews">
            <sb-post-preview routerLink="/blog/MigratingEnterpriseAngularAppToAnotherDesignSystem"></sb-post-preview>
        </div>
    </div>
</div>
<sb-footer></sb-footer>
