.meFtWt3 {
    font-weight: 300;
}
.meFtWt4 {
    font-weight: 400;
}
.meFtWt5 {
    font-weight: 500;
}
.meFoot {
    color: #808080;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.meMrgT5 {
    margin-top: 5px;
}
.meMrgB0 {
    margin-bottom: 0;
}
.meBgClr0 {
    background: none;
}
