@import '../../../styles.scss';

main {
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: center;
  padding: 5vh 5vw;

  article {
    display: flex;
    flex-direction: column;
    padding: 5vw;

    header {
      color: $primary-color;
      font-family: $serif;
      font-size: 3rem;
      font-weight: 600;
    }

    section {
      color: $primary-color;
      font-family: $sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
      padding: 2vw 0 2vw 0;
    }

    footer {
      display: flex;
      color: $secondary-color;
      font-family: $serif;
      font-size: 1.8rem;
      font-weight: 300;
      padding: 2vw 0 2vw 0;

      div {
        margin-right: 5vw;
      }
    }

  }

}
