<main>
  <article>
    <section>
      <header>
        Sahil Babbar
      </header>
      <div class="padding-3320">
        A nerdy zealot who spends most of his time exploring stuff in Frontend Development,
        Software Engineering and User Experience Design. He is a graduate from the Department of Computer
        Science Engineering at IIIT-Delhi and presently a Software Developer at Ericsson R&D, India.
      </div>
      <div>
        <a href="https://www.linkedin.com/in/1sahilbabbar" target="_blank">
          <img class="margin-r-1" src="../../../assets/icons/linkedin.png">
        </a>
        <a href="https://twitter.com/sahilbabbar__" target="_blank">
          <img class="margin-r-1" src="../../../assets/icons/twitter.png">
        </a>
        <a href="https://github.com/sahilbabbar" target="_blank">
          <img class="margin-r-1" src="../../../assets/icons/github.png">
        </a>
        <a href="https://stackoverflow.com/users/3676745/sahil-babbar" target="_blank">
          <img class="margin-r-1" src="../../../assets/icons/stackoverflow.png">
        </a>
      </div>
    </section>
    <section>
      <img class="profile-picture" src="../../../assets/profile-picture.jpg">
    </section>
  </article>
</main>
