<main>
  <article>
    <header>
      Sahil Babbar
    </header>
    <section>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium, adipisci assumenda distinctio eaque, exercitationem hic incidunt inventore natus nisi officiis placeat porro, rem sed sequi tempore ut vero voluptate.
    </section>
    <footer>
      <div>Blog</div>
      <div>Work</div>
      <div>About</div>
      <div>Reach</div>
    </footer>
  </article>
  <!--<figure>-->
    <!--<img src="assets/potrait-1.png" alt="Potrait">-->
  <!--</figure>-->
</main>
