<main>
  <article>
    <header>
      Sahil Babbar
    </header>
    <section>
      <p>
        A nerdy zealot who spends most of his days exploring stuff in Software Engineering, User Experience and Product Design; and most his evenings, practicing classical music or reading some innovative books, if he hasn't gone cycling or motorcycling.
      </p>
      <p>
        He is a graduate from the Department of Computer Science Engineering at IIIT-Delhi and presently a Software Developer at Ericsson R&D, India; with past experience at few startups.
      </p>
      <p>
        If you would like to talk, drop an email to me@sahilbabbar.com or reach out via social network.
      </p>
    </section>
    <!--<footer>-->
      <!--<div>Blog</div>-->
      <!--<div>Work</div>-->
      <!--<div>About</div>-->
      <!--<div>Reach</div>-->
    <!--</footer>-->
  </article>
  <!--<figure>-->
    <!--<img src="assets/potrait-1.png" alt="Potrait">-->
  <!--</figure>-->
</main>
