@import '../../../styles.scss';

main {
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: center;
  padding: 5vh 5vw;

  article {
    align-items: center;
    display: flex;
    padding: 5vw;

    header {
      color: $tertiary-color;
      font-family: $sans-serif;
      font-size: 4rem;
      font-weight: 200;
    }

    section {
      color: $tertiary-color;
      font-family: $sans-serif;
      font-size: 1.5rem;
      font-weight: 300;
      padding: 2vw 0 2vw 0;
    }

    footer {
      display: flex;
      color: $secondary-color;
      font-family: $serif;
      font-size: 1.8rem;
      font-weight: 300;
      padding: 2vw 0 2vw 0;

      div {
        margin-right: 5vw;
      }
    }
  }
}
.profile-picture {
  width: 200px;
}
