<div class="container">
    <div class="row">
        <div class="profile-image_mobile">
            <img src="assets/profile-picture.jpg">
        </div>
        <div class="heading">
            Sahil Babbar
        </div>
        <div class="sub-heading">
            Hustling Among Obsessions
        </div>
        <div class="description">
            Fluent in Frontend/UX Development, Software Development/Engineering with a Design crush.
            Working in multiple areas with diverse teams, involving Angular, UX Design and DevOps.
            Fascinated by classical and rock music, and plays guitar to satisfy the melodicious appetite.
        </div>
        <div class="social-profiles">
            <a href="https://www.linkedin.com/in/1sahilbabbar" target="_blank">
                <img class="margin-r-1" src="../../../assets/icons/linkedin.png">
            </a>
            <a href="https://twitter.com/sahilbabbar__" target="_blank">
                <img class="margin-r-1" src="../../../assets/icons/twitter.png">
            </a>
            <a href="https://github.com/sahilbabbar" target="_blank">
                <img class="margin-r-1" src="../../../assets/icons/github.png">
            </a>
            <a href="https://stackoverflow.com/users/3676745/sahil-babbar" target="_blank">
                <img class="margin-r-1" src="../../../assets/icons/stackoverflow.png">
            </a>
        </div>
        <!--<div class="website-links">-->
            <!--<button class="button">-->
                <!--Blog Corner-->
            <!--</button>-->
        <!--</div>-->
    </div>
    <div class="row">
        <div class="profile-image">
            <img src="assets/profile.jpg">
        </div>
    </div>
</div>
