<main>
    <h1>Perceptual Patterns</h1>
    <p class="margin-top-small margin-bottom-large">
        Patterns that give color and personality to the design system.
    </p>

    <!--    TODO: Add section for 'Base'-->

    <article>
        <header>Color Scheme</header>
        <section>
            <p>Colors</p>
            <div class="ezd-pattern-example flex-row">
                <div class="margin-right-large">
                    <strong>Primary Colors</strong>
                    <div class="ezd-pattern-color">
                        <div class="bg-color-primary-blue"></div>
                        <div>Blue</div>
                    </div>
                    <div class="ezd-pattern-color">
                        <div class="bg-color-primary-black"></div>
                        <div>Black</div>
                    </div>
                    <div class="ezd-pattern-color">
                        <div class="bg-color-primary-white"></div>
                        <div>White</div>
                    </div>
                </div>
                <div>
                    <strong>Secondary Colors</strong>
                    <div class="ezd-pattern-color">
                        <div class="bg-color-secondary-blue"></div>
                        <div>Blue</div>
                    </div>
                    <div class="ezd-pattern-color">
                        <div class="bg-color-secondary-orange"></div>
                        <div>Orange</div>
                    </div>
                    <div class="ezd-pattern-color">
                        <div class="bg-color-secondary-yellow"></div>
                        <div>Yellow</div>
                    </div>
                    <div class="ezd-pattern-color">
                        <div class="bg-color-secondary-red"></div>
                        <div>Red</div>
                    </div>
                </div>
            </div>
            <div class="ezd-pattern-example flex-row margin-top-large">
                <div class="margin-right-large">
                    <strong>Accent Colors</strong>
                    <div class="ezd-pattern-color">
                        <div class="bg-color-accent"></div>
                        <div>Accent</div>
                    </div>
                </div>
                <div>
                    <strong>Variants</strong>
                    <div class="ezd-pattern-color">
                        <div class="bg-color-var-black-1"></div>
                        <div>Black 1</div>
                    </div>
                    <div class="ezd-pattern-color">
                        <div class="bg-color-var-black-2"></div>
                        <div>Black 2</div>
                    </div>
                </div>
            </div>
        </section>
    </article>

    <article>
        <header>Iconography</header>
        <section>
            <p>Icon set</p>
            <div class="ezd-pattern-example">
                <i class="icon-add"></i>
            </div>
        </section>
    </article>

    <article>
        <header>Images</header>
        <section>
            <p>Images</p>
            <div class="ezd-pattern-example">
                <figure class="margin-right-large">
                    <img
                        ezImg
                        width="500px"
                        alt="Mountain Range"
                        src="https://images.unsplash.com/photo-1639323152218-5699a3582df8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
                    />
                    <figcaption>
                        Zanskar Mountains visible from dalhousie
                    </figcaption>
                </figure>
                <figure>
                    <img
                        ezImg
                        height="500px"
                        alt="Pink Rose"
                        src="https://images.unsplash.com/photo-1639323050261-cd7b11ed6c46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80"
                    />
                    <figcaption>Entrance to an old church</figcaption>
                </figure>
            </div>
        </section>
    </article>

    <article>
        <header>Typography</header>
        <section>
            <p>Color scheme</p>
            <div class="ezd-pattern-example flex even-gaps">
                <h1 class="heading-huge">Huge Heading</h1>
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <small>Small</small>
                <code>code</code>
                <a href>Link</a>
                <p class="text-transform-lower">Lowercase</p>
                <p class="text-transform-upper">Uppercase</p>
            </div>
        </section>
    </article>
</main>

<main>
    <h1>Functional Patterns</h1>
    <p class="margin-top-small margin-bottom-large">
        Patterns that give function to the design system.
    </p>
    <article>
        <header>Button</header>
        <section>
            <p>
                Button can be of two types - <code>default</code>,
                <code>outline</code>.
            </p>
            <div class="ezd-pattern-example">
                <button ez-button class="margin-right-small">Default</button>
                <button ez-button class="ez-button-outline">Outline</button>
            </div>
        </section>
    </article>
    <article>
        <header>Card</header>
        <section>
            <p>
                Card has take various forms depending on the elements inside it.
                Following card has all the elements.
            </p>
            <div class="ezd-pattern-example">
                <ez-card [data]="cardDemo"></ez-card>
            </div>
        </section>
    </article>
    <article>
        <header>Form</header>
        <section>
            <p>Form</p>
            <div class="ezd-pattern-example">
                <form
                    name="demo-form"
                    action="/submit"
                    method="post"
                    autocomplete="off"
                >
                    <fieldset>
                        <legend>Group of controls</legend>
                        <label>Email Address</label>
                        <input
                            name="email"
                            type="email"
                            placeholder="me@myname.com"
                            required
                        />
                    </fieldset>
                    <fieldset>
                        <label>Message</label>
                        <textarea
                            name="message"
                            autocomplete="off"
                            minlength="5"
                            maxlength="25"
                            placeholder="Enter message here."
                            wrap="hard"
                            spellcheck="false"
                            required
                        ></textarea>
                    </fieldset>
                    <button ez-button name="form-button" type="submit">
                        Submit
                    </button>
                </form>
            </div>
        </section>
    </article>
    <article>
        <header>Footer</header>
        <section>
            <p>Footer component</p>
            <div class="ezd-pattern-example">
                <ez-footer [data]="footerData" class="width-70vw"></ez-footer>
            </div>
        </section>
    </article>
    <article>
        <header>Loader</header>
        <section>
            <p>Loader</p>
            <div class="ezd-pattern-example"></div>
        </section>
    </article>
    <article>
        <header>Dialog</header>
        <section>
            <p>Dialog</p>
            <div class="ezd-pattern-example">
                <button ez-button (click)="dialog.open()">Open Dialog</button>
                <ez-dialog #dialog [data]="dialogData"></ez-dialog>
            </div>
        </section>
    </article>
    <article>
        <header>Navigation</header>
        <section>
            <p>Navigation bar</p>
            <div class="ezd-pattern-example">
                <ez-navigation
                    [data]="navDataDemo"
                    class="width-70vw"
                ></ez-navigation>
            </div>
        </section>
    </article>
    <article>
        <header>Notification</header>
        <section>
            <p>Notification</p>
            <div class="ezd-pattern-example">
                <button ez-button (click)="notification.open()">
                    Show Notification
                </button>
                <ez-notification
                    #notification
                    [data]="notificationData"
                ></ez-notification>
            </div>
        </section>
    </article>
</main>
