<div class="container">
  <div class="row">
    <div class="heading primary-font">
      Sahil Babbar
    </div>
    <div class="description primary-font">
      Fluent in UX/UI Development, Software Development/Engineering and Product Design, having worked in multiple areas with diverse teams, involving design and software technology. Graduate in Computer Science and Engineering with startup and corporate experience.
    </div>
    <div class="social-profiles">
      <a href="https://www.linkedin.com/in/1sahilbabbar" target="_blank">
        <img class="margin-r-1" src="../../../assets/icons/linkedin.png">
      </a>
      <a href="https://www.instagram.com/sahilbabbar__/">
        <img class="margin-r-1" src="../../../assets/icons/instagram.png">
      </a>
      <a href="https://twitter.com/sahilbabbar__" target="_blank">
        <img class="margin-r-1" src="../../../assets/icons/twitter.png">
      </a>
      <a href="https://github.com/sahilbabbar" target="_blank">
        <img class="margin-r-1" src="../../../assets/icons/github.png">
      </a>
      <a href="https://stackoverflow.com/users/3676745/sahil-babbar" target="_blank">
        <img class="margin-r-1" src="../../../assets/icons/stackoverflow.png">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="profile-image">
      <img src="assets/profile-picture.jpg">
    </div>
  </div>
</div>
