<div class="navbar">
    <div class="navbar-item">
        Sahil Babbar
    </div>
    <div class="navbar-item">
        About
    </div>
    <div class="navbar-item">
        Projects
    </div>
    <div class="navbar-item active">
        Blog
    </div>
    <div class="navbar-item">
        Contact
    </div>
</div>
<div class="post-container">
    <div class="heading">
        Learning BEM
    </div>
    <div class="sub-heading">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut earum, ipsam nam placeat quae quam quos rerum? Hic numquam placeat quisquam sit voluptates. Ab doloribus illum iure libero ullam?
    </div>
</div>
