@import '~normalize.css/normalize.css';

// ------------------------------------------
// Universal Styles
// ------------------------------------------

// Colors
$primary-color: #181F29;
$secondary-color: #06479E;
$mute-color: #afafaf;

// Fonts
$serif: 'Playfair Display', serif;
$sans-serif: 'Lato', sans-serif;

html, body {
  height: 100%;
}
