@import 'variables/colors';

a.btn {
    border: $primary-color;
    transition: box-shadow 0.5s ease-in;

    &:hover {
        border: $primary-color_2;
        box-shadow: inset 0 0 20px 20px $primary-color_2;
        color: $tertiary-color;
        text-decoration: none;
        transition: box-shadow 0.5s ease-in;
    }
}

.btn {
    align-items: center;
    background: $primary-color;
    border-radius: 5px;
    color: $tertiary-color;
    display: flex;
    padding: 8px 20px;

    i {
        color: $tertiary-color;
        margin-right: 3px;
    }

    &_group {
        display: flex;
        margin: 5% 0;

        .btn {
            margin-right: 5%;
        }
    }
}
