.container {
    padding: 5vh 5vw;
    width: 80vw;
}

.row {
    display: flex;

    .col_75 {
        flex-grow: 1.5;
        flex-basis: 0;
    }

    .col_25 {
        flex-grow: 1;
        flex-basis: 0;
    }
}
