<section class="sb-page">
    <section class="sb-flex-row intro-banner" style="gap: 30px;">
        <section>
            <img src="images/about-3.png" height="125px" width="125px" style="border-radius: 100%; object-fit: contain; border-bottom-right-radius: 0; border-top-left-radius: 0; border-bottom-left-radius: 50%; border-top-right-radius: 50%;">
        </section>
        <section>
            <p style="margin-bottom: 10px;">
                At the cross-roads of <u>frontend</u> development, <u>UX</u> design and software engineering
                in the <u>product</u> design & development domain, based in India; passionate about crafting
                valuable solutions from inception to realization, since 8 years.
            </p>
            <p>
                Hello, I'm <span style="font-weight: 600;">Sahil Babbar</span> and this is my digital canvas; re-crafting it currently.
            </p>
        </section>
    </section>
    <img class="sb-flourish" src="images/flourish-1.svg" />
<!--    <section style="margin-bottom: 30px;">-->
<!--        <h3>Articles</h3>-->
<!--        <section class="sb-flex-row" style="justify-content: space-between; gap: 10px;">-->
<!--            <div class="sb-card" style="background-image: url('images/about-5.png'); ">-->
<!--                <h4>Book review: Thoughts on design</h4>-->
<!--            </div>-->
<!--            <div class="sb-card" style="background-image: url('images/about-5.png'); ">-->
<!--                <h4>Book review: Thoughts on design</h4>-->
<!--            </div>-->
<!--            <div class="sb-card" style="background-image: url('images/about-5.png'); ">-->
<!--                <h4>Book review: Thoughts on design</h4>-->
<!--            </div>-->
<!--        </section>-->
<!--    </section>-->
</section>
