<div>
    <sb-header></sb-header>
    <main>
        <section class="introduction">
            <section>
                <h1>Sahil Babbar</h1>
                <div class="tagline">Engineering • Design • Product</div>
                <p class="bio">
                    At the cross-roads of software engineering, frontend development, UX design in
                    the product design and development domain, based in India; passionate about creating valuable solutions end-to-end.
                </p>
                <a hidden>see more</a>
            </section>
            <section class="profile-container">
                <img src="profile.jpeg" class="profile-image" alt="Profile Picture" />
                <figcaption class="quote">
                    Great design is too obvious<br />
                    but hard to achieve.
                </figcaption>
            </section>
        </section>
        <section class="articles" style="margin-bottom: 100px;" hidden>
            <h3>Articles</h3>
            <ul>
                <li>
                    Thoughts on the book 'Thoughts on Design'
                </li>
                <li>
                    Thoughts on the book 'Thoughts on Design'
                </li>
                <li>
                    Thoughts on the book 'Thoughts on Design'
                </li>
                <li>
                    Thoughts on the book 'Thoughts on Design'
                </li>
                <li>
                    Thoughts on the book 'Thoughts on Design'
                </li>
            </ul>
            <a>read more</a>
        </section>
        <section class="reach">
            <h3>Reach Out</h3>
            <p>
                Drop me an email on
                <a href="mailto:me@sahilbabbar.com">{{ 'me@sahilbabbar.com' }}</a>
                or connect via
                <a href="https://linkedin.com/in/sahilbabbarrr" target="_blank"
                >LinkedIn</a
                >.
            </p>
        </section>
    </main>
</div>

<sb-footer></sb-footer>
