@import '../shared/styles/global';

.intro-banner {
    gap: 30px;
}

@media (max-width: 800px) {
    .sb-page {
        padding: 10vw !important;
    }
    .intro-banner {
        align-items: center;
        flex-direction: column;
    }
}

.articles {
    button {
        font-size: 18px;
        color: $variant-black-1;
        border: none;
        background: none;
        letter-spacing: -1px;

        &:hover {
            color: $primary-blue;
            cursor: pointer;
            text-decoration: underline;
            transition: all 5s ease-out;
        }
    }
}
