img {
    width: 50px;
}

article:last-child {
    margin-bottom: 0;
}

.job {
    margin-left: 0;
    margin-right: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

@media (width > 1440px) {
    main {
        align-items: center;
        width: unset;

        & > article, & > section {
            width: 60vw;
        }
    }
}
