<main class="width-60vw">
    <article class="margin-bottom-large">
        <h1>About</h1>
        <p *ngFor="let paragraph of intro | async; index as i" [class]="i != 0 ? 'margin-top-small' : ''">
            {{ paragraph}}
        </p>
    </article>
    <section>
        <h3>Skills</h3>
        <p class="color-var-black-1 margin-bottom-default">Languages, frameworks and tools.</p>
        <div class="flex-row flex-align-items-center">
            <img *ngFor="let skill of skills | async" [src]="skill.logo" [alt]="skill.name" class="margin-right-small">
        </div>
    </section>
    <section>
        <h3>Work</h3>
        <p class="color-var-black-1 margin-bottom-default">Past and present about professional work.</p>
        <article class="job" *ngFor="let job of jobs | async; index as i" [class]="i !=0 ? 'margin-top-large': ''">
            <div class="flex-row flex-align-items-start">
                <img class="margin-top-xsmall" [src]="job.logo">
                <div class="margin-left-small">
                    <div class="text-bold-1 margin-bottom-xsmall">{{ job.title }}</div>
                    <div class="text-bold-1 margin-bottom-xsmall">{{ job.company }} <span class="color-var-black-1">({{ job.unit }})</span></div>
                    <div class="text-bold-1 color-var-black-1 margin-bottom-xsmall">{{ job.duration }}</div>
                    <div class="margin-top-small">
                        {{ job.brief }}
                        <ul class="margin-top-small margin-bottom-default" *ngIf="job.details?.length">
                            <li *ngFor="let detail of job.details">{{ detail }}</li>
                        </ul>
                        <div *ngIf="job.recognition?.length">
                            <strong class="color-primary-blue">Recognition</strong>
                            <ul class="margin-top-small">
                                <li *ngFor="let award of job.recognition">
                                    <div class="text-bold-1">{{ award.title }}</div>
                                    <div class="color-var-black-1 margin-bottom-xsmall">{{ award.date}}</div>
                                    <p>{{ award.description }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <h3>Education</h3>
        <p class="color-var-black-1 margin-bottom-default">Languages, frameworks and tools that I am good with.</p>
        <article class="job" *ngFor="let ed of education | async; index as i" [ngStyle]="{'margin-top': i != 0 ? '64px': ''}">
            <div class="flex-row flex-align-items-start">
                <img class="margin-top-small" [src]="ed.logo">
                <div class="margin-left-small">
                    <div class="text-bold-1 margin-bottom-xsmall">{{ ed.university }}</div>
                    <div class="text-bold-1 margin-bottom-xsmall">{{ ed.degree }}</div>
                    <div class="text-bold-1 margin-bottom-xsmall color-var-black-1">{{ ed.duration }}</div>
                    <p class="margin-top-small">
                        {{ ed.brief }}
                    </p>
                    <p class="margin-top-small">
                        {{ ed.coursework }}
                    </p>
                </div>
            </div>
        </article>
    </section>
</main>
