<main>
    <article class="margin-bottom-large">
        <h1>About</h1>
        <p *ngFor="let paragraph of intro | async; index as i" [class]="i != 0 ? 'margin-top-small' : ''">
            {{ paragraph}}
        </p>
    </article>
    <section>
        <h3>Skills</h3>
        <p class="color-var-black-1 margin-bottom-default">Acquired in curiosity slumber & honing before going back</p>
        <div class="flex-row flex-align-items-center flex-wrap">
            <img *ngFor="let skill of skills | async" [src]="skill.logo" [alt]="skill.name" class="margin-right-small">
        </div>
    </section>
    <section>
        <h3>Work</h3>
        <p class="color-var-black-1 margin-bottom-default">Professional journey with a blend of diverse experiences</p>
        <article class="jobs" *ngFor="let job of jobs | async; index as i" [class]="i !=0 ? 'margin-top-large': ''">
            <div class="job">
                <div class="job-head">
                    <img [src]="job.logo" alt="Company Logo">
                    <div>
                        <div class="job-title">{{ job.title }}</div>
                        <div class="job-subtitle">{{ job.company }}</div>
                        <div class="color-var-black-1">{{ job.unit }}</div>
                    </div>
                    <div class="job-duration">{{ job.duration }}</div>
                </div>
                <div class="job-body">
                    {{ job.brief }}
                    <ul *ngIf="job.details?.length">
                        <li *ngFor="let detail of job.details">{{ detail }}</li>
                    </ul>
                    <div class="job-body-recognition" *ngIf="job.recognition?.length">
                        <strong class="color-primary-blue">Recognition</strong>
                        <ul class="margin-top-small">
                            <li *ngFor="let award of job.recognition">
                                <div class="text-bold-1">{{ award.title }}</div>
                                <div class="color-var-black-1 margin-bottom-xsmall">{{ award.date}}</div>
                                <p>{{ award.description }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <h3>Volunteering</h3>
        <p class="color-var-black-1 margin-bottom-default">Leveraging professional skills for some noble cause</p>
        <article class="jobs" *ngFor="let job of volunteering | async; index as i" [class]="i !=0 ? 'margin-top-large': ''">
            <div class="job">
                <div class="job-head">
                    <img [src]="job.logo" alt="Company Logo">
                    <div>
                        <div class="job-title">{{ job.title }}</div>
                        <div class="job-subtitle">{{ job.company }}</div>
                        <div class="color-var-black-1">{{ job.unit }}</div>
                    </div>
                    <div class="job-duration">{{ job.duration }}</div>
                </div>
                <div class="job-body">
                    {{ job.brief }}
                    <ul *ngIf="job.details?.length">
                        <li *ngFor="let detail of job.details">{{ detail }}</li>
                    </ul>
                    <div class="job-body-recognition" *ngIf="job.recognition?.length">
                        <strong class="color-primary-blue">Recognition</strong>
                        <ul class="margin-top-small">
                            <li *ngFor="let award of job.recognition">
                                <div class="text-bold-1">{{ award.title }}</div>
                                <div class="color-var-black-1 margin-bottom-xsmall">{{ award.date}}</div>
                                <p>{{ award.description }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <h3>Education</h3>
        <p class="color-var-black-1 margin-bottom-default">Academic qualifications that sow the seeds of future</p>
        <article class="jobs" *ngFor="let ed of education | async; index as i" [ngStyle]="{'margin-top': i != 0 ? '64px': ''}">
            <div class="job">
                <div class="job-head">
                    <img [src]="ed.logo" alt="Company Logo">
                    <div>
                        <div class="job-title">{{ ed.university }}</div>
                        <div class="job-subtitle">{{ ed.degree }}</div>
                    </div>
                    <div class="job-duration">{{ ed.duration }}</div>
                </div>
                <div class="job-body">
                    <p class="margin-top-small">
                        {{ ed.brief }}
                    </p>
                    <p class="margin-top-small">
                        {{ ed.coursework }}
                    </p>
                </div>
            </div>
        </article>
    </section>
</main>
