<div>
    <sb-navbar [items]="aboutNavItems"></sb-navbar>
</div>

<div class="container">
    <h2>About</h2>
    <div class="row">
        <div class="col_75">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus adipisci beatae blanditiis consequatur, consequuntur
                cumque debitis delectus dolore dolores earum ex inventore
                labore, maxime necessitatibus nemo nobis quos similique
                voluptatum!
            </p>
            <div class="flex_col">
                <div class="section_about">
                    <h3>{{ workData.section | titlecase }}</h3>
                    <div
                        *ngFor="let d of workData.data"
                        class="margin-bottom_5"
                    >
                        <h5 class="color_primary">
                            {{ d.designation }},
                            {{ d.company }}
                        </h5>
                        <h5 class="margin-bottom_5px">
                            {{ d.startDate | titlecase }} -
                            {{ d.endDate | titlecase }} ({{
                            d.place
                            }})
                        </h5>
                        <p>
                            {{ d.body.description }}
                        </p>
                        <ul *ngFor="let b of d.body.bullets">
                            <li>
                                {{ b }}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="section_about">
                    <h3>{{ learnData.section | titlecase }}</h3>
                    <div
                        *ngFor="let d of learnData.data"
                        class="margin-bottom_5"
                    >
                        <h5 class="color_primary">
                            {{ d.title | titlecase }}
                        </h5>
                        <h5>
                            {{ d.institution }},
                            {{ d.place }}
                        </h5>
                        <h5>
                            {{ d.startDate | titlecase }} -
                            {{ d.endDate | titlecase }}
                        </h5>
                        {{ d.body.description }}
                        <ul *ngFor="let b of d.body.bullets">
                            <li>
                                {{ b }}
                            </li>
                        </ul>
                    </div>
                </div>

                <div>
                    <h3>{{ recogData.section | titlecase }}</h3>
                    <div
                        *ngFor="let d of recogData.data"
                        class="margin-bottom_5"
                    >
                        <h5 class="color_primary">
                            {{ d.title }}<span class="color_sec">, {{ d.place }}</span>
                        </h5>
                        <h5>{{ d.date | uppercase }}</h5>
                        {{ d.body.description }}
                        <ul *ngFor="let b of d.body.bullets">
                            <li>
                                {{ b }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col_25"></div>
    </div>
</div>
<sb-footer></sb-footer>
