<sb-navbar [items]="aboutNavItems"></sb-navbar>

<div class="container">
    <h2>About</h2>
    <div class="row">
        <div class="col_75">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus adipisci beatae blanditiis consequatur, consequuntur
                cumque debitis delectus dolore dolores earum ex inventore
                labore, maxime necessitatibus nemo nobis quos similique
                voluptatum!
            </p>
            <div style="display: flex; flex-direction: column;">
                <div style="border-bottom: 0.5px solid #aaa;">
                    <h4>{{ workData.section | titlecase }}</h4>
                    <div
                        *ngFor="let d of workData.data"
                        class="margin-bottom_5"
                    >
                        <h5>
                            {{ d.designation | titlecase }},
                            {{ d.company | titlecase }}
                        </h5>
                        <h5 class="margin-bottom_5px">
                            {{ d.startDate | titlecase }} -
                            {{ d.endDate | titlecase }} ({{
                                d.place | titlecase
                            }})
                        </h5>
                        <p>
                            {{ d.body.description }}
                        </p>
                        <ul *ngFor="let b of d.body.bullets">
                            <li>
                                {{ b }}
                            </li>
                        </ul>
                    </div>
                </div>

                <div style="border-bottom: 0.5px solid #aaa;">
                    <h4>{{ learnData.section | titlecase }}</h4>
                    <div
                        *ngFor="let d of learnData.data"
                        class="margin-bottom_5"
                    >
                        <h5>
                            {{ d.title | titlecase }}
                        </h5>
                        <h5>
                            {{ d.institution | titlecase }},
                            {{ d.place | titlecase }}
                        </h5>
                        <h5>
                            {{ d.startDate | titlecase }} -
                            {{ d.endDate | titlecase }}
                        </h5>
                        {{ d.body.description }}
                        <ul *ngFor="let b of d.body.bullets">
                            <li>
                                {{ b }}
                            </li>
                        </ul>
                    </div>
                </div>

                <div style="border-bottom: 0.5px solid #aaa;">
                    <h4>{{ buildData.section | titlecase }}</h4>
                    <div
                        *ngFor="let d of buildData.data"
                        class="margin-bottom_5"
                    >
                        <h5>
                            {{ d.title | titlecase }}
                        </h5>
                        <h5>
                            {{ d.institution | titlecase }},
                            {{ d.place | titlecase }}
                        </h5>
                        <h5>
                            {{ d.startDate | titlecase }} -
                            {{ d.endDate | titlecase }}
                        </h5>
                        {{ d.body.description }}
                        <ul *ngFor="let b of d.body.bullets">
                            <li>
                                {{ b }}
                            </li>
                        </ul>
                    </div>
                </div>

                <div style="border-bottom: 0.5px solid #aaa;">
                    <h4>{{ recogData.section | titlecase }}</h4>
                    <div
                        *ngFor="let d of recogData.data"
                        class="margin-bottom_5"
                    >
                        <h5>
                            {{ d.title | titlecase }}
                        </h5>
                        <h5>{{ d.place | titlecase }}</h5>
                        <h5>{{ d.date | uppercase }}</h5>
                        {{ d.body.description }}
                        <ul *ngFor="let b of d.body.bullets">
                            <li>
                                {{ b }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col_25"></div>
    </div>
</div>
<sb-footer></sb-footer>
