<sb-navbar [items]="blogHomeNavItems"></sb-navbar>

<div class="container">
    <h2>Writings</h2>
    <div class="post_previews">
        <div class="container_post_preview" routerLink="MigratingEnterpriseAngularAppToAnotherDesignSystem">
            <h4>Migrating Enterprise Angular App To Another Design System</h4>
            <div class="hashtags">
                <div>Design Systems&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Angular&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SCSS</div>
            </div>
            <p>
                Large enterprise software organisations(> 100,000 employees) have a set of defined guidelines and frameworks to build software products and services, that make their software development process stable, manageable and predictable.
            </p>
        </div>
        <div class="container_post_preview" routerLink="ScssQuickStart">
            <h4>SCSS Quick Start - Make CSS Fun</h4>
            <div class="hashtags">
                <div>UI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sass&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CSS</div>
            </div>
            <p>
                From getting to know Sass - To writing intermediate level of Sass. After extensively writing CSS in projects, one starts to observe a pattern where lots of CSS code is repetitive, redundant, lacks modularity and as the lines of code(LOC) increase, chances of errors also increase.
            </p>
        </div>
    </div>
</div>

<sb-footer></sb-footer>
