@import '../../../../../assets/styles/variables/colors';
@import '../../../../../assets/styles/variables/typography';
@import '../../../../../assets/styles/layout';

.blog-container {
    padding: 5vh 5vw;
    width: 50vw;

    .heading {
        color: $primary-color;
        font-family: $secondary-font;
        font-size: 3vw;
        font-weight: 300;
        margin: 10px 0;
    }

    .sub-heading {
        color: $secondary-color;
        font-family: $primary-font;
        font-size: 20px;
        font-weight: 300;
        margin: 10px 0 80px 0;
    }
}

.card {
    border-bottom: 3px solid $accent-color;
    width: 20vw;

    &-heading {
        color: $primary-color;
        font-family: $secondary-font; //TODO: Lato doesn't look great here.
        font-size: 25px;
        margin: 20px 0;
    }

    &-hashtags {
        color: $muted-color;
        font-family: $primary-font;
        margin: 10px 0;

        .hashtag:before {
            content: '#';
        }
    }

    &-description {
        color: $secondary-color;
        font-family: $primary-font; //TODO: Roboto doesn't look great here too.
        font-size: 20px;
        margin: 20px 0;
    }

    &-footer {
        color: $muted-color;
        font-family: $primary-font;
        margin-bottom: 20px;
    }

    &:hover {
        border-bottom: 6px solid $accent-color; //TODO: Add transition.
        cursor: pointer;
        transition: 0.3s;
    }
}
