<sb-navbar [items]="blogHomeNavItems"></sb-navbar>

<div class="container">
    <h2>Writings</h2>
    <div class="post_previews">
        <div class="container_post_preview" routerLink="MigratingEnterpriseAngularAppToAnotherDesignSystem">
            <h4>Migrating Enterprise Angular App To Another Design System</h4>
            <div class="hashtags">
                <div>Design Systems&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Angular&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SCSS</div>
            </div>
        </div>
        <div class="container_post_preview" routerLink="ScssQuickStart">
            <h4>SCSS Quick Start - Make CSS Fun</h4>
            <div class="hashtags">
                <div>UI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sass&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CSS</div>
            </div>
        </div>
    </div>
</div>

<sb-footer></sb-footer>
